name: AI, Read It! Web API Docker Build & Publish

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Build Date
        id: set-build-date
        run: echo "BUILD_DATE=$(date +'%Y.%m.%d.%H.%M.%S')" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t feedbee/ai-read-it-app:latest --build-arg BUILD_DATE=${{ env.BUILD_DATE }} .
          docker tag feedbee/ai-read-it-app:latest feedbee/ai-read-it-app:master
          docker tag feedbee/ai-read-it-app:latest feedbee/ai-read-it-app:master-${{ env.BUILD_DATE }}
        env:
          BUILD_DATE: ${{ env.BUILD_DATE }}

      - name: Push Docker Image
        run: |
          docker push feedbee/ai-read-it-app:latest
          docker push feedbee/ai-read-it-app:master
          docker push feedbee/ai-read-it-app:master-${{ env.BUILD_DATE }}
